To achieve the scenario, focus upon the following task:
                                      
`{{ next_step }}`
                                      
You are given the following additional information about the task:

```                                
{{ next_step_context }}
```

{% if knowledge|length > 0 %}
You already have the following knowledge about the target environment:

```markdown
{{ knowledge }}
```
Be aware that this knowledge may be incomplete or incorrect.
{% endif %}

You have up to {{max}} tries to achieve the given task, stop if you were not able
to achieve it before that. If successful give a short technical summary.

If you encounter errors, try to solve them.
